<div>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Manage Committees</h2>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight clear">
		<section class=" row col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<button type="button" ng-click='addCommittee("lg")' class="btn btn-primary btn-xs" tooltip-html-unsafe="Add new committee" tooltip-placement="bottom" tooltip-append-to-body="true">Add Committee</button> 
					<button type="button" ng-click='toggleAddCommitteeHeadModal()' ng-disabled="selectedCommittee == undefined" class="btn btn-primary btn-xs" tooltip-html-unsafe="Add committee head for {{ selectedCommittee.name }} committee" tooltip-placement="bottom" tooltip-append-to-body="true">Add Committee Head</button> 
					<button type="button" ng-click='loadCommittees()' class="btn btn-primary btn-xs" tooltip-html-unsafe="Refresh committees" tooltip-placement="bottom" tooltip-append-to-body="true">Refresh List</button> 
				</div>
				<div class="ibox-content data-grid">
					<ad-table-lite table-name="committeesTable"
								   column-definition="committeesTableColumnDefinition"
								   local-data-source="committees"
								   enable-column-search="true"
								   page-sizes="[10, 15, 20]"
								   page-size="10"
								   table-max-height="600px"
								   pagination-btn-group-classes="pagination pagination-sm"
								   table-classes="table table-striped table-bordered committees-table"
								   items-not-found-message="Committees Not Found">
					</ad-table-lite>
				</div>
			</div>
		</section>
	</div>
</div>