<div>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-6">
			<div class="clear">
				<h2 class="left">Dashboard</h2>
			</div>
		</div>
		<div class="right clear m-r-md">
			<table>
				<tr>
					<td><b>Total Members:</b>&nbsp;&nbsp;</td>
					<td>50</td>
				</tr>
				<tr>
					<td><b>Active Members:</b>&nbsp;&nbsp;</td>
					<td>30</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div>
			<div id="monthlyCelebrantsPanel" monthly-celebrants-panel monthly-celebrants-data="monthlyCelebrantsData"></div>
			<div id="newlyBaptizedPanel" newly-baptized-panel newly-baptized-data="newlyBaptizedData"></div>
		</div>
	</div>
</div>