@using Shepherd.BusinessLogic.Entities.Members
@model MemberList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Members List</h3>

<div id="member-list">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="col-name">Name</th>
				<th class="col-age text-center">Age</th>
				<th class="col-status">Status</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Items != null)
			{
				foreach (var member in Model.Items)
				{
					<tr>
						<td>@Html.ActionLink(member.Name, "Details", new { id = member.MemberId })</td>
						<td class="text-center">@member.AgeInSpirit</td>
						<td class="text-center"></td>
					</tr>
				}
			}
		</tbody>
	</table>

	<p>
		<a class="btn btn-primary" href="@Url.Action("Create","Members")">Create New Member</a>
		&nbsp;
		&nbsp;
		<a class="btn btn-default" href="@Url.Action("Index","Home")">Back to Home Page</a>
	</p>
</div>