<div>
    
    Month<select name="month"
            style="max-width: 150px; min-width: 50px;"
            ng-init="calendarControlStart.month = monthValues[0]"
            ng-model="calendarControlStart.month"
            ng-options="m.value for m in monthValues"></select>

    Day: <input type="text" name="day" ng-model="calendarControlStart.day" />
    Year: <select name="year"
                  ng-init="calendarControlStart.year = yearValues[0]"
                  ng-model="calendarControlStart.year"
                  ng-options="v for v in yearValues"></select>
    
</div>