<div class="newly-baptized-panel col-lg-12 col-md-8 col-sm-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Newly Baptized Brethren</h5>
			<div ibox-tools id="newly-baptized-panel-menu"></div>
		</div>
		<div class="ibox-content center">
			<div class="m-t-md">
				<div ng-repeat="m in members">
					<div ng-repeat="i in m" class="m-b-md newly-baptized-item">
						<div class="center"><img src="../content/images/profile_black.jpg" class="mp-sm" /></div>
						<div class="center">
							<div>{{ formatHelpers.formatNameWithPrefix(i.name, i.gender) }}</div>
							<div>{{ formatHelpers.formatDate(i.dateBaptized) }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>