<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-name text-center">Name</th>
            <!--<th class="col-age text-center">Age</th>-->
            <th class="col-status text-center">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="member in members">
            <td><a href="/Members/Details/{{member.id}}">{{ member.firstName }}</a></td>
            <!--<td class="text-center">{{ member.age }}</td>-->
            <td class="text-center">{{ member.status }}</td>
        </tr>
    </tbody>
</table>

<p>
    <a class="btn btn-primary" href="/Members/Add">Add New Member</a>
    &nbsp;
    &nbsp;
    <a class="btn btn-default" href="/">Back to Home Page</a>
</p>

